<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173983308935-kafbrk2aq749acasd4qsutf106bmfnqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173983308935-kafbrk2aq749acasd4qsutf106bmfnqo</string>
	<key>API_KEY</key>
	<string>AIzaSyCJFov9-pGcugLt277UarrKeXPRxQ1SAjs</string>
	<key>GCM_SENDER_ID</key>
	<string>173983308935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.interneers.fdcAjQuizApp</string>
	<key>PROJECT_ID</key>
	<string>fdc-aj-quiz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fdc-aj-quiz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173983308935:ios:f44cbeb68844b74205ec22</string>
</dict>
</plist>